# Documentación del Proyecto
*.pdf
*.doc
*.docx
*.odt


# Carpeta de Prueba

ejemplo/
sandbox/
playground/


# Entorno ZinjaI y Compilación
# Carpetas de salida de compilación de ZinjaI (Linux y Windows)
Debug_Linux/
Release_Linux/
Debug_Win32/
Release_Win32/
temp/
bin/

# Archivos temporales y respaldos generados por ZinjaI
*.zpr.bak
*.zpr.*.bak
*.autorun
.zinjai/

# Archivos Objeto y Binarios Compilados (C/C++)
*.o
*.obj
*.slo
*.lo
-.o

# Precompilados
*.gch
*.pch

# Bibliotecas estáticas y dinámicas
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.la
*.lai

# Ejecutables
*.bin
*.exe
*.out
*.app

# Archivos de depuración y enlaces
*.ilk
*.pdb
*.dwo
*.d
*.idb

# Carpetas y Generadores de Construcción Genéricos
build/
Build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
.cache/

# Editores
# Visual Studio Code
.vscode/
*.code-workspace

# Clangd
.clangd/

# Editores de texto (Vim, Emacs, Nano, etc.)
*.swp
*.swo
*~
*.bak
*.tmp
.#*

# Logs, Volcados de Memoria y Pruebas
*.log
/core
core.[0-9]*
vgcore.*

# Archivos del Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
